<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.zsz.dao.AppInfo.AppInfoMapper">
 
 	<!-- 多表联查，高级查询 App信息 -->
 	
 	<!-- 显示数据：
 	
 		 主表app_info：软件名称、APK名称、软件大小、下载次数
 		 
 		 关联表data_dictionary：所属平台、状态名称、
 		
 		关联表app_category：所属分类（一、二、三）
 		
 		关联表app_version：最新版本号
 	 -->
 	<select id="findAllApp" resultType="AppInfo">
 		select a.id,a.softwareName,a.APKName,a.supportROM,a.softwareSize,a.devId,
				(select devName from dev_user where id = a.devId) as devName,
				a.status,
				(select valueName from data_dictionary d where  a.status=d.valueId AND d.typeCode='APP_STATUS') as statusName,
				a.flatformId,
				(select valueName from data_dictionary d where  a.flatformId=d.valueId AND d.typeCode='APP_FLATFORM') as flatformName,
				a.categoryLevel1,
				(select categoryName from app_category c where  c.id=a.categoryLevel1) as categoryLevel1Name,
				a.categoryLevel2,
				(select categoryName from app_category c where  c.id=a.categoryLevel2) as categoryLevel2Name,
				a.categoryLevel3,
				(select categoryName from app_category c where  c.id=a.categoryLevel3) as categoryLevel3Name,
				a.downloads,
				a.onSaleDate,
				a.versionId,
				(select v.versionNo from app_version v where v.id=a.versionId ) as versionNo
			from  app_info a
			<where>
				<if test="softwareName!=null and softwareName!=''">
					softwareName like '%${softwareName}%'
				</if>
				<if test="status>0">
					and status=#{status}
				</if>
				<if test="flatformId>0">
					and flatformId=#{flatformId}
				</if>
				<if test="categoryLevel1>0">
					and categoryLevel1=#{categoryLevel1}
				</if>
				<if test="categoryLevel2>0">
					and categoryLevel2=#{categoryLevel2}
				</if>
				<if test="categoryLevel3>0">
					and categoryLevel3=#{categoryLevel3}
				</if>
			</where> 		
			order by creationDate DESC	limit #{offset},#{pageSize} 
 	</select>
 
 	<!-- 查询总记录数 -->
 	<select id="findCount" resultType="_int">
 		select count(*) from app_info
 		<where>
				<if test="softwareName!=null and softwareName!=''">
					softwareName like '%${softwareName}%'
				</if>
				<if test="status>0">
					and status=#{status}
				</if>
				<if test="flatformId>0">
					and flatformId=#{flatformId}
				</if>
				<if test="categoryLevel1>0">
					and categoryLevel1=#{categoryLevel1}
				</if>
				<if test="categoryLevel2>0">
					and categoryLevel2=#{categoryLevel2}
				</if>
				<if test="categoryLevel3>0">
					and categoryLevel3=#{categoryLevel3}
				</if>	
			</where>
 	</select>
 	
 	
 	<!-- 软件名称 * 
			APK名称 * 
			支持ROM * 
			界面语言 * 
			软件大小 * 
			下载次数 * 
			所属平台 *
			一级分类 *
			二级分类 *
			三级分类 *
			APP状态 *
			应用简介 * 
			LOGO图片 * -->
 	<insert id="appInfoAdd" parameterType="AppInfo">
		insert into app_info (softwareName,APKName,supportROM,interfaceLanguage,updateDate,softwareSize,
							devId,appInfo,status,onSaleDate,offSaleDate,categoryLevel1,categoryLevel2,
							categoryLevel3,downloads,flatformId,logoPicPath,logoLocPath,createdBy,creationDate)
				values(#{softwareName},#{APKName},#{supportROM},#{interfaceLanguage},#{updateDate},
					   #{softwareSize},#{devId},#{appInfo},#{status},#{onSaleDate},#{offSaleDate},
					   #{categoryLevel1},#{categoryLevel2},#{categoryLevel3},#{downloads},
					   #{flatformId},#{logoPicPath},#{logoLocPath},#{createdBy},#{creationDate})
	</insert>
 	
 	<!-- 删除app信息 -->
 	<delete id="appInfoDel" parameterType="_int">
 		delete from app_info where id=#{appid}
 	</delete>
 	
 	<!-- 根据id查询 关联查 -->
 	<select id="appInfogetById" parameterType="_int" resultType="AppInfo">
 		select a.id,a.flatformId,a.softwareName,a.APKName,a.supportROM,a.softwareSize,a.devId,a.interfaceLanguage,a.supportROM,a.appInfo,a.logoLocPath,a.logoPicPath,
				(select devName from dev_user where id = a.devId) as devName,
				a.status,
				(select valueName from data_dictionary d where  a.status=d.valueId AND d.typeCode='APP_STATUS') as statusName,
				a.flatformId,
				(select valueName from data_dictionary d where  a.flatformId=d.valueId AND d.typeCode='APP_FLATFORM') as flatformName,
				a.categoryLevel1,
				(select categoryName from app_category c where  c.id=a.categoryLevel1) as categoryLevel1Name,
				a.categoryLevel2,
				(select categoryName from app_category c where  c.id=a.categoryLevel2) as categoryLevel2Name,
				a.categoryLevel3,
				(select categoryName from app_category c where  c.id=a.categoryLevel3) as categoryLevel3Name,
				a.downloads,
				a.onSaleDate,
				a.versionId,
				(select v.versionNo from app_version v where v.id=a.versionId ) as versionNo
			from  app_info a where a.id=#{appid}
 	</select>
 	
 	<!-- 修改app状态 -->
 	<update id="updateStatusgetByappId" parameterType="appInfo">
 		update app_info set status=#{status},modifyBy=#{modifyBy} where id = #{id}
 	</update>
 	
 	<!-- 根据appid修改归属版本编号 -->
 	<update id="updateapp_versionId" parameterType="appInfo">
 	    update app_info set versionId=#{versionId} where id=#{id}
 	</update>
 	
 	<!-- 根据appid更新logo图片路径 -->
 	<update id="deleteAppLogo" parameterType="int">
 		update app_info set logoPicPath=null,logoLocPath=null  where id=#{id}
 	</update>
 	
 	<!-- 根据appid修改app信息 -->
 	<update id="updateInfo" parameterType="appInfo">
		update app_info
		<trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
			<if test="softwareName != null">softwareName=#{softwareName},</if>
			<!-- <if test="APKName != null">APKName=#{APKName},</if> -->
			<if test="supportROM != null">supportROM=#{supportROM},</if>
			<if test="interfaceLanguage != null">interfaceLanguage=#{interfaceLanguage},</if>
			<if test="updateDate != null">updateDate=#{updateDate},</if>
			<if test="softwareSize != null">softwareSize=#{softwareSize},</if>
			<if test="appInfo != null">appInfo=#{appInfo},</if>
			<if test="status != null">status=#{status},</if>
			<if test="onSaleDate != null">onSaleDate=#{onSaleDate},</if>
			<if test="offSaleDate != null">offSaleDate=#{offSaleDate},</if>
			<if test="categoryLevel1 != null">categoryLevel1=#{categoryLevel1},</if>
			<if test="categoryLevel2 != null">categoryLevel2=#{categoryLevel2},</if>
			<if test="categoryLevel3 != null">categoryLevel3=#{categoryLevel3},</if>
			<if test="downloads != null">downloads=#{downloads},</if>
			<if test="flatformId != null">flatformId=#{flatformId},</if>
			<if test="logoPicPath != null">logoPicPath=#{logoPicPath},</if>
			<if test="logoLocPath != null">logoLocPath=#{logoLocPath},</if>
			<if test="modifyBy != null">modifyBy=#{modifyBy},</if>
			<if test="modifyDate != null">modifyDate=#{modifyDate},</if>
		</trim>
 	</update>
 	
 	<!-- 总下载量 -->
 	<select id="count" resultType="int">
 		SELECT (COUNT(downloads)*AVG(downloads)) FROM app_info
 	</select>
 	
 </mapper>